{% extends 'base.html.twig' %}

{% block title %}Edición de Tareas{% endblock %}

{% block body %}

    <div class="second">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">

                    {% for message in app.session.flashbag().get('message') %}  
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {%endfor%}

                    <div class="card-header">Editar Tarea</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
